:root {
    font-size: 62.5%;
    /* vars */
    --tt-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --tt-white: #D8E2DC;
    --tt-black: #220C10;
    --tt-red: #F94144;
    --tt-orange: #F3722C;
    --tt-gold: #F8961E;
    --tt-yellow: #F9C74F;
    --tt-green: #90BE6D;
    --tt-turquoise: #43AA8B;
    --tt-blue: #577590;
  }

  .landing-container{
      max-width: 1170px;
      margin: auto;
  }

  .home-section {
      background-color: var(--tt-black);
      overflow: hidden;
  }

  .home-section .h-100{
      padding: 120px 0;
  }

  .home-text,
  .home-img{
      width: 50%;
      padding: 0 15px;
  }

  .home-text h1 {
    font-size: 50px;
    color: var(--tt-turquoise);
    text-transform: uppercase;
    line-height: 1.2;
  }

  .home-text h1 span {
    color: var(--tt-white);
    position: relative;
    z-index: 1;
  }
  .home-text h2 {
    font-size: 24px;
    font-weight: 300;
    color: var(--tt-white);
    margin: 15px 0 40px;
  }

  .home-img-inner {
    max-width: 400px;
    margin: auto;
    position: relative;
  }
  .home-img-inner img {
    width: 100%;
    animation: zoomOutIn01 7s linear infinite;
  }

  .home-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: spin01 30s linear infinite;
  }