:root {
  font-size: 62.5%;
  /* vars */
  --tt-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --tt-white: #D8E2DC;
  --tt-black: #220C10;
  --tt-red: #F94144;
  --tt-orange: #F3722C;
  --tt-gold: #F8961E;
  --tt-yellow: #F9C74F;
  --tt-green: #90BE6D;
  --tt-turquoise: #43AA8B;
  --tt-blue: #577590;
  --tt-dark: #0f0406;
  --tt-darker: #180000;
  --tt-white-shadow: rgba(255, 255, 255, 0.8);
--tt-dark-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
--tt-slight: #3f282c;
--tt-slight2:rgb(53, 32, 35)c;
--tt-slight-dark : #251518;
--tt-slight-shadow: 0 0 15px rgba(78, 43, 43, 0.2);
--tt-light-blue:  #012336;
--tt-dark-blue:  #001a29;
--tt-yellow: #d5ec03;



}

.create-milestone{
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0.6em 0.6em 0.5em #020d1b;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.create-milestone input, .create-milestone textarea {
  border: 1px solid #292934;
  border-radius: 7px;
  background: #0B0B12;
  color: white;
  padding: 16px;
  font-size: 16px;
  margin-bottom: 16px;
}

.create-milestone input:focus, .create-milestone textarea:focus{
  border: 2px solid var(--tt-gold);
  transition: all 0.3s ease-out;
  color: white;
}

.create-milestone h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: whitesmoke
}

.create-milestone .input_field{
  margin-bottom: 10px;
}


.create-milestone .input_field input[type="text"],
.create-milestone textarea{
  border: 1px solid #66dbff;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
}

.create-milestone textarea{
  resize: none;
  height: 80px;
}

 .milestone-btn {
  font-size: 18px;
  cursor: pointer;
  color: var(--tt-black);
  background-color: #d5ec03;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 8px 20px;
}
.milestone-btn:hover{
  color: var(--tt-white);
  border: 2px solid var(--tt-gold);
  border-radius: 4px;
  background-color: transparent;
  padding: 6px 18px;
  transition: all 0.3s ease-out;
}
