:root {
  font-size: 62.5%;
  /* vars */
  --tt-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --tt-white: #D8E2DC;
  --tt-black: #220C10;
  --tt-red: #F94144;
  --tt-orange: #F3722C;
  --tt-gold: #F8961E;
  --tt-yellow: #F9C74F;
  --tt-green: #90BE6D;
  --tt-turquoise: #43AA8B;
  --tt-blue: #577590;
  --tt-dark: #0f0406;
  --tt-darker: #180000;
  --tt-white-shadow: rgba(255, 255, 255, 0.8);
--tt-dark-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
--tt-slight: #3f282c;
--tt-slight2:rgb(53, 32, 35)c;
--tt-slight-dark : #251518;
--tt-slight-shadow: 0 0 15px rgba(78, 43, 43, 0.2);
--tt-light-blue:  #012336;
--tt-dark-blue:  #001a29;
--tt-yellow: #d5ec03;



}


.comment-content, .comment-subtext {
  font-size: 1.5rem;
  padding-top: 10px;
}

.comment-subtext > a {
  text-decoration: none;
}

.comment-subtext a:hover {
  color: var(--tt-black);
}

.comment-subtext {
  display: flex;
}

.comment-content{
  /* background-color: var(--tt-blue); */
  box-shadow: 0.6em 0.3em 0.5em #020d1b;

  color: whitesmoke;
  /* color: black; */
  border-radius: 5px;
  background-color: var(--tt-dark-blue);
}