:root {
  font-size: 62.5%;
  /* vars */
  --tt-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --tt-white: #D8E2DC;
  --tt-black: #220C10;
  --tt-red: #F94144;
  --tt-orange: #F3722C;
  --tt-gold: #F8961E;
  --tt-yellow: #F9C74F;
  --tt-green: #90BE6D;
  --tt-turquoise: #43AA8B;
  --tt-blue: #577590;
  --tt-dark: #0f0406;
  --tt-darker: #180000;
  --tt-white-shadow: rgba(255, 255, 255, 0.8);
--tt-dark-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
--tt-slight: #3f282c;
--tt-slight2:rgb(53, 32, 35)c;
--tt-slight-dark : #251518;
--tt-slight-shadow: 0 0 15px rgba(78, 43, 43, 0.2);
--tt-light-blue:  #012336;
--tt-dark-bule:  #001a29;
--tt-yellow: #d5ec03;



}

.signup-page{
  display: flex;
  height: 94vh;
}

.left-container{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #292934;
  background: #12121b;
}

.right-container{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0B0B12;
}

.title-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.title-container h3 {
  opacity: .5;
  margin: 14px 0px 32px 0px;
  font-weight: 600;
}

.avatar-container{
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.form-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px    
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container input, select, button {
  padding: 16px;
  font-size: 16px;
  margin-bottom: 16px;
  color: rgb(200, 200, 200);
}

.form-container input {
  border: 1px solid #292934;
  border-radius: 7px;
  background: #0B0B12;
}

#avatar-button {
  border: 1px solid #292934;
  border-radius: 7px;
  background: #0B0B12;
  color: #757575;
  text-align: left;
}

#submit-button{
  margin-top: 22px;
  background: #7450E9;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 7px;
}

.redirect-container{
  display: flex;
  font-size: 14px;
  font-weight: 500;
  opacity: .5;
  color: rgb(235, 235, 235);
}

.redirect-link{
  color: #7450E9;
  text-decoration: none;
  padding-left: 6px;
}


@media only screen and (max-width: 900px) {
  .signup-page{
      flex-direction: column;
      width: 100vw;
  }

  .left-container{
      width: 100%;
      height: 100vh;
  }
  .right-container{
      display: none;
  }

  .form-container {
      width: 75%;

  }
}