.milestone {
  border: purple 2px solid;
  background-color: red;
  margin-bottom: 20px;
}

/* .milestone-title {
  color: green;
}

.milestone-description {
  color: red;
} */

.comment-section {
  border: blue 3px solid;
}

/* .add-comment {
  border: orange 2px solid;
} */