.edit-comment,
.edit-comment-form {
    display: flex;
    flex-direction: row;
}

.edit-comment button {
    color: #012336;
}

.edit-comment button:hover,
.edit-comment button:focus {
    color: var(--tt-orange);
}

.hide-comment-form{
    display: none;
}